@page "/Producto"
@using BlazorInputFile
@using Microsoft.AspNetCore.Identity
@using Examen_Final.Data
@inject NavigationManager NavigationManager
@inject ServiceProducto service
@inject ServiceUsuario service_usuario
@inject IJSRuntime JSRuntime
@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager
@inject IHttpContextAccessor httpContextAccessor

<AuthorizeView Context="authContext"> 
    <Authorized>
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-success  btn-lg" data-toggle="modal" data-target="#exampleModalLong">
                <span class="oi oi-plus" aria-hidden="true"></span> Crear Producto
            </button>
        </div>
        <br /><br /><br />
        <div class="row bg-light">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        @*<th>Imagen</th>*@
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Servicio</th>
                        <th>Cantidad</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    @if (productos.Any())
                    {
                        @foreach (var producto in productos)
                        {
                    <tr>
                    @*<td><img src="@producto.img" width="100" height="100" ></td>*@
                        <td>@producto.Nombre</td>
                        <td>@producto.Descripcion</td>
                        <td>@producto.Precio</td>
                        @if(producto.Servicio){
                        <td>Si</td>
                        }
                        else{
                        <td>No</td>
                        }
                        
                        <td>@producto.Cantidad </td>
                        <td>
                             <button class="btn btn-info" data-toggle="modal" data-target="#editModalLong" @onclick="(() => SetProductoForUpdate(producto))">Editar</button> 
                        </td>

                    </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="6"><strong>No hay producto creado</strong></td></tr>
                    }
                </tbody>
            </table>
        </div>


        @* MODAL Crear*@
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Creación de Producto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-10 mx-auto py-4">
                            <EditForm  Model="@NewProducto">
                                @* <DataAnnotationsValidator /> *@
                                <div class="form-group">
                                    <label for="titulo">Nombre</label>
                                    <input type="text" id="titulo" class="form-control" @bind="@NewProducto.Nombre" required />
                                </div>
                                  <div class="form-group">
                                    <label for="descripcion">Descripción</label>
                                    <textarea type="text" id="descripcion" class="form-control" @bind="@NewProducto.Descripcion" required />
                                </div>
                                <div class="form-group">
                                    <label for="precio"> Precio</label>
                                    <input type="number" id="precio" class="form-control" @bind="@NewProducto.Precio" required />
                                </div>
                                <div class="form-group">
                                    <label for="servicio">Servicio</label>
                                    <input type="checkbox" id="servicio" class="form-control" @bind="@NewProducto.Servicio"/>
                                </div>
                                  <div class="form-group">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" id="cantidad" class="form-control" @bind="@NewProducto.Cantidad" required />
                                </div>
                               <!--<div class="form-group">
                                <label for="nombre">Pruebas gráficas(s)</label>-->
                                @*<InputFile OnChange="HandleSelectImagen"></InputFile>*@
                                <!--</div>-->
                            

                                <div class="text-center p-3 mb-3">
                                    <button class="btn btn-info" @onclick="AddNewProducto"  data-dismiss="modal"> Agregar </button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @* MODAL Editar*@
        <div class="modal fade" id="editModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Editar Secreto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-10 mx-auto py-4">
                                 <EditForm  Model="@NewProducto">
                                <div class="form-group">
                                    <label for="titulo">Nombre</label>
                                    <input type="text" id="titulo" class="form-control" @bind="@ProductoUpdate.Nombre" required />
                                </div>
                                  <div class="form-group">
                                    <label for="descripcion">Descripción</label>
                                    <textarea type="text" id="descripcion" class="form-control" @bind="@ProductoUpdate.Descripcion" required />
                                </div>
                                <div class="form-group">
                                    <label for="precio"> Precio</label>
                                    <input type="number" id="precio" class="form-control" @bind="@ProductoUpdate.Precio" required />
                                </div>
                                <div>
                                    <label for="servicio">Servicio</label>
                                    <input type="checkbox" id="servicio" class="form-control" @bind="@ProductoUpdate.Servicio" />
                                </div>
                                  <div class="form-group">
                                    <label for="cantidad">Cantidad</label>
                                    <input type="number" id="cantidad" class="form-control" @bind="@ProductoUpdate.Cantidad" required />
                                </div>
                               <!--<div class="form-group">
                                <label for="nombre">Pruebas gráficas(s)</label>-->
                                @*<InputFile OnChange="HandleSelectImagen"></InputFile>*@
                                <!--</div>-->
                            

                                <div class="text-center p-3 mb-3">
                                    <button class="btn btn-info" @onclick="UpdateProductoData"  data-dismiss="modal"> Editar Producto </button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <center>
            <h1>Lo Siento necesita esta logueado</h1>
            <br /><br />
            <p>
                Necesita entrar con tu usuario
            </p>
        </center>

    </NotAuthorized>
</AuthorizeView>

@code {
    //bool editado_image = false;
    public string name_search;
    Usuario usuario1;
    List<Producto> productos = new List<Producto>();
    //IFileListEntry image;
    //async Task HandleSelectImagen(IFileListEntry[] images ){
    //    Console.WriteLine("productos",images.FirstOrDefault());
    //    image = images.FirstOrDefault();
    //    editado_image = true;


    protected override async Task OnInitializedAsync()
    {
        name_search = httpContextAccessor.HttpContext.User.Identity.Name;
        await Refresh();
    }
    private void Navegar(Producto producto)
    {
        NavigationManager.NavigateTo("/Producto/" + producto.ProductoID);
    }

    private async Task Refresh()
    {
        productos = await service.GetProductoAsync();
        usuario1 = await service_usuario.getInformation(name_search);
    }


    public Producto NewProducto { get; set; } = new Producto();
    private async Task AddNewProducto()
    {
        await service.AddProductoAsync(NewProducto);
        NewProducto = new Producto();
        await Refresh();
    }
    Producto ProductoUpdate = new Producto();
    private void SetProductoForUpdate(Producto producto)
    {
        ProductoUpdate = producto;
    }
    private async Task UpdateProductoData()
    {
        await service.UpdateProductoAsync(ProductoUpdate);
        await Refresh();
    }


}
