@page "/Reporte"

@using Examen_Final.Data
@inject NavigationManager Navigate
@inject ServiceProducto serviceProducto
@inject ServiceFactura ServiceFactura
@inject ServiceCliente serviceCliente
@inject IJSRuntime JSRuntime


<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="text-center">
                <div class="col-md-6 offset-3">
                    <h2 class="alert alert-primary">Informes y Reporter&#237;a</h2>
                </div>
            </div>
            <div class="my-5">
                <div class="col-md-5">
                    <select class="form-control" @bind="selectorReporte">
                        <!--colocar id de consulta-->
                        <option selected>Seleccione reporte</option>
                        <option value="1"> - Listado de productos</option>
                        <option value="2"> - Productos y servicios con mayor demanda</option>
                        <option value="3"> - Clientes con mayor frecuencia de compra</option>
                        <option value="4"> - Cuemplea&#241;os de los clientes</option>
                    </select>
                </div>

                @if (selectorReporte == "1")
                {
                    <div class="my-3" id="Imprimir_reporte">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Listado de productos</h2>

                            </div>
                            <div class="col-md-6 text-right">
                                <p>@date</p>
                            </div>
                        </div>
                        <table class="tabla productos_th_color">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripci&#243;n</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (productos.Any())
                                {
                                    @foreach (var producto in productos)
                                    {
                                        <tr>
                                            <td>@producto.Nombre</td>
                                            <td>@producto.Descripcion</td>
                                            <td>@producto.Precio</td>
                                            <td>@producto.Cantidad</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="12"><strong>No hay productos registrados</strong></td></tr>
                                }
                            </tbody>
                        </table>
                        <div class="mt-4">
                            <h4 class="text-center">Fin del reporte</h4>
                        </div>
                    </div>

                    <div class="text-right">
                        <button class="btn btn-light" @onclick="Imprimir">Imprimir</button>
                    </div>

                }
                @if (selectorReporte == "2")
                {

                    <div class="my-3" id="Imprimir_reporte">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Productos m&#225;s vendidos</h2>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>@date</p>
                            </div>
                        </div>
                        <table class="tabla demanda_th_color">
                            <thead>
                                <tr>
                                    @foreach (var factura in facturas)
                                    {
                                        @foreach (var item in factura.facturas_detalle.GroupBy(o => o.producto).OrderByDescending(g => g.Sum(oi => oi.Cantidad)))
                                        {
                                            @foreach (var data in item)
                                            {
                                                @data.producto.Nombre
                                            }
                                        }
                                    }

                                    \
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="mt-4">
                            <h4 class="text-center">Fin del reporte</h4>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-light" @onclick="Imprimir">Imprimir</button>
                    </div>
                }
                @if (selectorReporte == "3")
                {
                    @*@foreach(var factura in facturas.GroupBy(f=>f.Cliente.ClienteID).OrderByDescending(f => f.Max(facturas[0].facturas_detalle))){

                        }*@
                    <div class="my-3" id="Imprimir_reporte">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Clientes que m&#225;s compran</h2>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>@date</p>
                            </div>
                        </div>
                        <table class="tabla frecuencia_th_color">
                            <thead>
                                <tr>
                                    <th>Firstname</th>
                                    <th>Lastname</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @*@foreach (var factura in facturas.GroupBy(o => o.ClienteID).ToList())
                                    {

                                        @foreach (var data in factura.GroupBy(i => i.ClienteID).Select(d => d.OrderByDescending(p => p.facturas_detalle.Sum(p1 => p1.producto.Precio * p1.Cantidad + p.facturas_detalle.Sum(p2 => p2.producto.Precio * p2.Cantidad * 0.18))).ToList()))
                                        {
                                            @foreach (var order in data.GroupBy(i=>i.ClienteID))
                                            {
                                                @for
                                                @order.Cliente.Nombres
                                                <labe><b>Total:</b>@data.Where(f => f.ClienteID == order.Cliente.ClienteID).Sum(p1 => p1.producto.Precio * p1.producto.Cantidad + data.Where(f => f.ClienteID == order.Cliente.ClienteID).Sum(p2 => p2.producto.Precio * p2.producto.Cantidad * 0.18))</labe>
                                            }


                                        }

                                    }*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-light" @onclick="Imprimir">Imprimir</button>
                    </div>
                }
                @if (selectorReporte == "4")
                {

                    <div class="my-3" id="Imprimir_reporte">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Cumplea&#241;os de clientes</h2>
                            </div>
                            <div class="col-md-6 text-right">
                                <p>@date</p>
                            </div>
                        </div>
                        <table class="tabla cumpleanos_th_color">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>RNC o c&#233;dula</th>
                                    <th>Direcci&#243;n</th>
                                    <th>Tel&#233;fono</th>
                                    <th>Correo</th>
                                    <th>Fecha de cumplea&#241;os</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (clientes.Any())
                                {
                                    @foreach (var cliente in clientes.OrderBy(f => f.Fecha_nacimiento.Month).OrderBy(f => f.Fecha_nacimiento.Day))
                                    {

                                        <tr>
                                            <td>@cliente.Nombres</td>
                                            <td>@cliente.Rnc</td>
                                            <td>@cliente.Direccion</td>
                                            <td>@cliente.Telefono</td>
                                            <td>@cliente.Correo</td>
                                            <td>@cliente.Fecha_nacimiento.ToString("dd/MM/yyyy")</td>

                                        </tr>

                                    }
                                }
                                else
                                {
                                    <tr><td colspan="12"><strong>No hay clientes registrados</strong></td></tr>
                                }
                            </tbody>
                        </table>
                        <div class="mt-4">
                            <h4 class="text-center">Fin del reporte</h4>
                        </div>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-light" @onclick="Imprimir">Imprimir</button>
                    </div>
                }
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <center>
            <h1>Lo sentimos, debe iniciar sesi&#243;n</h1>
            <br /><br />
            <p>
                Necesita acceder a su cuenta para visualizar los productos registrados.
            </p>
        </center>
    </NotAuthorized>
</AuthorizeView>

@code{

    DateTime date = DateTime.Now;
    string selectorReporte;


    //Reportes
    List<Producto> productos = new List<Producto>();
    List<Cliente> clientes = new List<Cliente>();
    List<Factura> facturas = new List<Factura>();


    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task Refresh()
    {
        productos = await serviceProducto.GetProductoAsync();
        clientes = await serviceCliente.GetClientesAsync();
        facturas = await ServiceFactura.GetFacturaAsync();
    }


    //Módulo de impresion
    public async Task Imprimir()
    {

        await JSRuntime.InvokeVoidAsync("imprimir_reporte");
    }

}
